<div [class]="this.settings.fontfamily=='tahoma' ? 'font active' : 'font'" style="font-family: tahoma;" (click)="chooseFont('tahoma');">
    فكِدْ كيدَك، واسْعَ سعيَك، وناصِبْ جهدك، فوَاللهِ لا تمحو ذِكْرَنا، ولا تُميت وحيَنا، ولا تُدرِكُ أمَدَنا
</div>

<div (click)="chooseFont('arial');" [class]="this.settings.fontfamily=='arial' ? 'font active' : 'font'" style="font-family: arial;" class="font" >
    فكِدْ كيدَك، واسْعَ سعيَك، وناصِبْ جهدك، فوَاللهِ لا تمحو ذِكْرَنا، ولا تُميت وحيَنا، ولا تُدرِكُ أمَدَنا
</div>