#draw2dStage
{
    position: relative;
    width: 2500px;
    height: 2500px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    cursor:none;
}

#draw2dStage *
{
  top:0;
  left:0;
}

.component-list
{
  overflow: auto;
  height:400px;
}

