#app {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin:0;
    height:100%;
  }
  
  body , html
  {
    margin:0;
    height:100%;
  }
  
  
  #side {
    height: 100%;
    background:#f2f2f2;
    padding:0;
    width: 300px !important;
    border-right:1px solid #ccc;
  }
  
  
  
  #draw2d svg
  {
    top:0;
    left:0;
  }
  
  
  .canvas
  {
      height: calc(100% - 100px);
      overflow-y: auto;
      overflow-x: auto;
  }
  
  .component-pic
  {
    width: 80px;
    display: inline-block;
  }
  
  .component-pic img
  {
    height:40px;
  }


  .disabled-components
  {
    opacity: 0.3;
  }

  .enabled-components
  {
    opacity: 1;
  }
  

/* NEW */
  html,body
{
    height:100%;
    margin:0;
    padding:0;
}




.side
{
    background-color:#f2f2f2;
    width:250px;
    display:flex;
    flex-direction: column;
    border-right:1px solid #ccc;
}

.editor
{
    background-color:#f8f9fa!important;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.bottom-flex
{
    background-color:#f8f9fa;
    border-top: 1px solid #ccc;
    min-height:200px;
}
.toolbar-flex
{
    background-color: brown;
    border-bottom: 1px solid #ccc;
}

.stage
{
    flex-grow: 1;;
    display: flex;
    flex-direction: row;
}

.stage-editor
{
  display: flex;
  min-height: 100px;
  min-width: 100px;
  overflow: auto;
  resize: both;
  flex-grow: 1;
  margin:0;
  padding:0;
}

.properties
{
    width:300px;
    border-left: 1px solid #ccc;

}
.tab-content {
  display: flex;
  flex-grow: 1;
}

.tab-content > .tab-pane {
  visibility: hidden;
  width:100%;
}

.tab-content > .active {
  visibility: visible;
}

.box {
  height: 150px;
  width:100px ;
  flex-grow: 1;
}

app-components
{
  display: flex;
  flex-direction: column;
  flex:1;
}

@media screen and (max-width: 768px) {
  .side
  {
      width:100%;
  }

  .box
  {
    width: 100%;
  }

  .stage
  {
      flex-direction: column;
  }

  .bottom-flex
  {
    min-height: 50px;
  }
}